
#screen2{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e3e4e6;
    height: 800px;
}
#main1{
  margin-top: 100px;
  display: flex;
  width: 42%;
  height: 500px;
  margin: auto
} 

#left1{
  margin-top: 100px; 
   margin-top: 100px;
  width: 35%;
  background-color: rgb(72, 72, 251); 
  height: 500px;

}
#form1{ 
   margin-top: 100px; 
   width: 65%;
  height: 500px;
  background-color: white;
}
#form1>form{
  width: 100%; 
   margin: auto; 
   height: 500px;
  /* border: 2px solid rgb(159, 225, 233); */
}
#form1>form>h1{
  color: rgb(28, 31, 200);
}

#form1>form>input{
  margin-top: 10px;
  width: 300px;height: 40px;
  color: #282c34;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(246, 235, 220);
  border: #88888a;
}
#form1>form>label{
  color: #151517;
  font-size: 20px;
  font-weight: 700;
  margin-left: 0px;
}
#form1>form>input:nth-child(17){
  width: 300px;
  background-color: rgb(237, 103, 36);
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
} 


 
